{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shop/bag.css') }}">
{% endblock %}

{% block content %}
    {% if ((cistell|length) == 0) %}
        <div class = "w3-center titolDecorat"> <h2>Cistell de Compra:</h2> </div>
        <br>
        <p class="w3-container w3-panel w3-pale-red w3-round w3-center"><b>Afegeix algún producte al cistell!</b></p>
        <p class="w3-center">
            Fes click al següent enllaç per tornar a la botiga!
            <a href="{{ path('shop_index', {id:-1}) }}">TORNAR A LA BOTIGA</a>
        </p>

    {% else %}
        <div hidden id="cistellBuit">
            <div class = "w3-center titolDecorat"> <h2>Cistell de Compra:</h2> </div>
            <br>
            <p class="w3-container w3-panel w3-pale-red w3-round w3-center"><b>Afegeix algún producte al cistell!</b></p>
            <p class="w3-center">
                Fes click al següent enllaç per tornar a la botiga!
                <a href="{{ path('shop_index', {id:-1}) }}">TORNAR A LA BOTIGA</a>
            </p>
        </div>
    <div class="w3-container" id="bagContainer">
        <div class = "w3-center titolDecorat"> <h2>Cistell de Compra:</h2> </div>
        <button class="w3-btn w3-pale-red w3-round comprar RelleuBut Com" onclick="onComprar()">COMPRAR</button>
        <button class="w3-btn w3-pale-blue w3-round comprar RelleuBut BC" onclick="onBuidarCistell()">Buidar Cistell</button>
        <p>Per eliminar el producte, clica a la "x":</p>
        <ul class="w3-ul w3-card-4" id="bagItems">

            {% for i in range(0, (cistell|length)-1) %}
                <li class="w3-display-container">{{ cistell[i] }} <span onclick="onEliminarProducte()" class="w3-button w3-transparent w3-display-right">&times;</span></li>
                <input hidden id="pid_{{ cistellIds[i] }}" value="cistellIds[i]">
            {% endfor %}
        </ul>
        <p class="w3-center preuNum"><b>Preu Total: {{ cistellTotal }} €</b></p>

    </div>

    <br>

    <div class="w3-container w3-card-4 w3-white tarjeta" id="dadesTarjeta">

        <form action="/action_page.php"> <!-- Posar la pagina que hem d'anar quan cliquem boto registre -->

            <br>

            <div class="w3-container w3-pale-red w3-round ">
                <h4>Dades Targeta</h4>
            </div>

            <div class = "form-content dadesTG">
                <label class="w3-text-black"><b>Nom</b></label>
                <input class="w3-input w3-border w3-border-pale-red w3-hover-border-purple w3-round" type="text" pattern="[A-Za-z]" placeholder="Nom" name="NomC">

                <label class="w3-text-black"><b>Cognoms</b></label>
                <input class="w3-input w3-border w3-border-pale-red w3-hover-border-purple w3-round" type="text" pattern="[A-Za-z]" placeholder="Cognoms" name="CognomC">

                <label class="w3-text-black"><b>Número de la Targeta</b></label>
                <input class="w3-input w3-border w3-border-pale-red w3-hover-border-purple w3-round" type="text" pattern="[0-9]{16}" minlength="16" maxlength="16" placeholder="**** **** **** ****" name="NumTarjetaC">

                <label class="w3-text-black"><b>Data Caducitat</b></label>
                <input class="w3-input w3-border w3-border-pale-red w3-hover-border-purple w3-round" type="text" pattern="[0-9]{2}/[0-9]{2}" placeholder="03/16" name="DataCaducitatC">

                <label class="w3-text-black"><b>CVV</b></label>
                <input class="w3-input w3-border w3-border-pale-red w3-hover-border-purple w3-round" type="text" pattern="[0-9]{3}"  minlength="3" maxlength="3" placeholder="XXX" name="CVVc">
            </div>

            <br>

        </form>
    </div>

    {% endif %}

    <br>





{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/shop/bag.js') }}"></script>
    <script src="{{ asset('js/cistell.js') }}"></script>
{% endblock %}
