{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shop/detail.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}

    {% if producte is null %}
    <div class="w3-panel w3-yellow">
        <h3>Atenció</h3>
        <p>El producte indicat no està disponible.</p>
    </div>
    {% else %}
    <!-- PAGINA D'EXEMPLE -->

    {#
    <table>
        <tr><td style="font-size:45px;">{{ producte.Nom }}</td></tr>
        <tr>
            <td>
                <img src="{{ asset(producte.getArxiuImatgePrincipal()) }}" class="w3-border" alt="Producte" style="max-width: 750px;max-height: 750px;">
            </td>
            <td>
                <table>
                    <tr>
                        <p style="font-size: 20px;">{{ producte.Descripcio }}</p>
                    </tr>
                    <tr>
                        {% if producte.enOferta %}
                            <div class="producte-preu-oferta" style="font-size: 50px; color:deeppink;">{{ producte.preuOferta|number_format(2, ',') }} €</div>
                        {% else %}
                            <div class="producte-preu" style="font-size: 50px;">{{ producte.preu|number_format(2, ',') }} €</div>
                        {% endif %}
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    #}

    <section class="pg-container">
        <div class="pg-imatge">

            <div class="w3-content w3-display-container" style="max-width:800px">
                {% for img in producte.getArxiusImatges() %}
                    <img src="{{ asset(img) }}" class="w3-border w3-center mySlides" alt="Producte" style="max-width: 750px;max-height: 750px;">
                {% endfor %}

                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                </div>
            </div>

        </div>
        <input id="prodId" hidden value="{{ producte.id }}">
        <div class="pg-nom">{{ producte.Nom }}</div>
        <div class="pg-preu">
            {% if producte.enOferta %}
                <div class="preu-oferta">{{ producte.preuOferta|number_format(2, ',') }} €</div>

            {% else %}
                <div>{{ producte.preu|number_format(2, ',') }} €</div>
            {% endif %}

        </div>


        <div class="pg-desc">{{ producte.Descripcio }} </div>

        <div class="pg-compra">
            <div class = "quantiatP">
                Quants ens vols?
                <input id="prodQuant" type="number" placeholder="1" min="1" max="50" value="1">
            </div>

            <br>
            <br>

            <button class = "w3-btn w3-pale-red w3-round RelleuBut" onclick="onAfegiarAlCistell()"> Afegir al cistell </button>
            <br>
            <br>
        </div>
    </section>

    <section class="valorations">

    </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/shop/detail.js') }}"></script>
    <script src="{{ asset('js/cistell.js') }}"></script>
{% endblock %}