{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shop/detail.css') }}">
{% endblock %}

{% block content %}

    {% if producte is null %}
    <div class="w3-panel w3-yellow">
        <h3>Atenció</h3>
        <p>El producte indicat no està disponible.</p>
    </div>
    {% else %}
    <!-- PAGINA D'EXEMPLE -->

    {#
    <table>
        <tr><td style="font-size:45px;">{{ producte.Nom }}</td></tr>
        <tr>
            <td>
                <img src="{{ asset(producte.getArxiuImatgePrincipal()) }}" class="w3-border" alt="Producte" style="max-width: 750px;max-height: 750px;">
            </td>
            <td>
                <table>
                    <tr>
                        <p style="font-size: 20px;">{{ producte.Descripcio }}</p>
                    </tr>
                    <tr>
                        {% if producte.enOferta %}
                            <div class="producte-preu-oferta" style="font-size: 50px; color:deeppink;">{{ producte.preuOferta|number_format(2, ',') }} €</div>
                        {% else %}
                            <div class="producte-preu" style="font-size: 50px;">{{ producte.preu|number_format(2, ',') }} €</div>
                        {% endif %}
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    #}

    <section class="pg-container">
        <div class="pg-imatge">
            <img src="{{ asset(producte.getArxiuImatgePrincipal()) }}" class="w3-border w3-center" alt="Producte" style="max-width: 750px;max-height: 750px;">
        </div>
        <div class="pg-nom">{{ producte.Nom }}</div>
        <div class="pg-preu">
            {% if producte.enOferta %}
                <div class="producte-preu-oferta" style="font-size: 50px; color:deeppink;">{{ producte.preuOferta|number_format(2, ',') }} €</div>
            {% else %}
                <div class="producte-preu" style="font-size: 50px;">{{ producte.preu|number_format(2, ',') }} €</div>
            {% endif %}
        </div>
        <div class="pg-desc">{{ producte.Descripcio }} </div>
        <div class="pg-compra">
            COMPRA
        </div>
    </section>

    <section class="valorations">

    </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/shop/detail.js') }}"></script>
{% endblock %}