{% extends 'base.html.twig' %} {# "Herencia" si una template hereda, tot el seu contingut ha d'estar dins un block#}

{% block content %}
    {# This is a comment #}

    <div class="flex-container products-flexbox">
        {% for producte in productes %}
            <div>
                <img src="{{ asset(producte.getArxiuImatgePrincipal()) }}" class="w3-border w3-padding" alt="Producte">
            </div>
        {% endfor %}
    </div>

    <div>Generate URL: <a href="{{ path('shop_index') }}">SHOP INDEX</a> </div>
    <div>Link to detail: <a href="{{ path('shop_detail', {id:5} ) }}">Detail with id=5</a> </div>

    <button class="w3-button w3-black" onclick="ajaxCall('ajaxResp')">Button</button>
    <div id="ajaxResp"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }} {# Afegeix el contingut del block del parent, així, podem afegir scripts concrets només per aquesta template sense sobrescriure els del pare#}
    <script src="{{ asset('js/example.js') }}"></script>
{% endblock %}