<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SweetsDesserts&Bread{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/w3.css') }}">
            <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font.css') }}">
            <link rel="stylesheet" href="{{ asset('css/socialbar.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/searchbar.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="w3-top">


            <div class="w3-bar w3-border w3-white">
                <div class="w3-bar-item">
                    <a href="{{ path('shop_index', {id:-1}) }}">
                        <img id="logo" src="{{ asset('assets/images/SweetsDesserts&BreadIndividualPetit.png') }}"/>
                    </a>
                </div>

                <div class ="w3-bar-item w3-dropdown-hover navbar-item">
                    <button class="w3-button navbar-button">PRODUCTES</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="{{ path('shop_index', {id:-1}) }}" class="w3-bar-item w3-button">Tots</a>
                        <a href="{{ path('shop_index', {id:-2}) }}" class="w3-bar-item w3-button">En promoció</a>
                        <a href="#" class="w3-bar-item w3-button">De Temporada</a>
                    </div>
                </div>

                {% for categoria in categories %}
                    <div class ="w3-bar-item navbar-item">
                      {#<button class="w3-button navbar-button tablinks" onclick="openCategory(event, '{{ categoria.Nom }}')">{{ categoria.Nom }}</button>#}
                        <a class="w3-button navbar-button" href="{{ path('shop_index', {id:categoria.id}) }}"><div class="Categ">{{ categoria.Nom }}</div></a>
                    </div>
                {% endfor %}
                <div class = "w3-bar-item w3-dropdown-hover navbar-item w3-right">
                    <button class="w3-button navbar-button" onclick="onBag()"><i class="fas fa-shopping-basket fa-2x"></i></button>
                    <div class="w3-dropdown-content w3-card-4 dropdown-content-right cistellF" style="width:250px">
                        {# <img src="{{ asset('assets/images/Collage.PNG') }}" style="width:100%"> #}
                        <div class="w3-container" id="cistellContent">
                            {% if ((cistell|length) == 0) %}
                                <p><b>Afegeix algún producte al cistell!</b></p>
                            {% else %}
                            <ul>
                            {% for prod in cistell %}
                                <li>{{ prod }}</li>
                            {% endfor %}
                            </ul>
                            <hr class='preuT'>
                            <p class="w3-center preuNum"><b>Preu Total: {{ cistellTotal }} €</b></p>
                            {% endif %}
                            <!--
                            <p><b>Nom producte (serà una llista)</b></p>
                            <p><b>Quantitat (anira amb cada producte)</b></p>
                            <p><b>Preu (anira amb cada producte)</b></p>
                            <hr class="preuT">
                            <p class="w3-center preuNum"><b>Preu Total: 40€</b></p>
                            -->
                        </div>
                    </div>
                </div>

                <div class ="w3-bar-item w3-dropdown-hover navbar-item w3-right">
                    <button class="w3-button navbar-button"><i class="fas fa-user-circle fa-2x"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4 dropdown-content-right">
                        {% if is_granted('ROLE_USER') %}
                            <div class="hola w3-center">
                                <b>Hola, {{ app.user.Nom }}!</b>
                                <hr>
                            </div>
                            <a href="{{ path('user_comandes') }}" class="w3-bar-item w3-button">Les meves comandes</a>
                            <a href="{{ path('user_edit') }}" class="w3-bar-item w3-button">Editar el perfil</a>
                            <a href="{{ path('app_logout') }}" class="w3-bar-item w3-button">Tancar sessió</a>
                        {% else %}

                            <a href="{{ path('user_sign', {login:0}) }}" class="w3-bar-item w3-button">Registra't</a>
                            <a href="{{ path('user_sign', {login:1}) }}" class="w3-bar-item w3-button">Inicia sessió</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

            <div class="social-bar">
                <a href="https://www.facebook.com/pg/SweetsDessertsBread-174215420181490/posts/" class="icon icon-facebook2" target="_blank"></a>
                <a href="https://twitter.com/SweetsDessetsB" class="icon icon-twitter" target="_blank"></a>
                <a href="https://www.instagram.com/sweets_desserts_and_bread/" class="icon icon-instagram" target="_blank"></a>
                <a href="mailto:sweets.desserts.bread@gmail.com" class="icon icon-mail"></a>
            </div>

                <div id="page-content">
                {% block content %}
                {% endblock %}
                </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('js/clickcategory.js') }}"></script>
        {% endblock %}
    </body>
</html>
